<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-row class="">
        <ion-title>
          Sign In
        </ion-title>
      </ion-row>
      <ion-row>
        <ion-label>USERNAME</ion-label>
        <ion-input type="text" class="rounded-full text-xs font-bold  py-1 px-2 no-underline"></ion-input>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
